/********************************************
 *                VARIABLES                 *
 ********************************************/
:root {
    --primary-color: #ffffff;
    --primary-color-rgb: 255, 255, 255; /*	Prefix a color variable with RGB to convert the hex output to RGB. */
    --accent-color: #326294;
    --link-hover-color: #1a3149;
    --background-color: #E7F1FB;
}

/********************************************
 *               TYPOGRAPHY                 *
 ********************************************/
 /* 
 Customizable Primary color (Header background, Post background, Live mode controls background)
Customizable Accent color (Text, Icons)
 */
body {
    color: var(--accent-color);
    font-family: 'Dongle', sans-serif;
    font-size: 28px;
    font-weight: 300;
    line-height: 0.8;
}

.font-avenir {
    font-family: 'Avenir', sans-serif;
}

.font-fix-dongle {
    display: block;
    margin-bottom: -5px;
}

/********************************************
 *                  THEME                   *
 ********************************************/
.container {
    margin: 0 auto;
    max-width: 540px;
}

body {
    /* background-color: var(--background-color); */
    /* TO DO: Background image */
    background: rgb(0, 0, 0);
}

a:hover,
a:focus-visible {
    color: var(--link-hover-color);
}

/* Header */
.header {
    position: fixed;
    z-index: 10;
    display: inline-flex;
    align-items: center;
    gap: 16px;
    padding: 4px 4px 4px 80px;
    background-color: var(--primary-color);
    border: 6px solid rgba(var(--primary-color-rgb), .5);
    border-left: none;
    border-radius: 100px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    /* Cross-browser semi-transparent border */
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

.header-avatar {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: gray;
}

/*  Navigation */
.menu {
    position: relative;
    display: flex;
    padding-left: 36px;
    padding-right: 80px;
    background-color: rgba(var(--primary-color-rgb), .5);
}

.menu-button i {
    position: absolute;
    left: -13px;
    bottom: 13px;
    color: var(--accent-color);
}
.navigation ul {
    display: flex;
    font-size: 20px;
}

.navigation a {
    display: inline-block;
    padding: 12px 8px 8px;
}

.hexagone {
    position: absolute;
    left: -28px;
    bottom: 0;
}

.hexagone-background {
    color: var(--background-color);
}
.hexagone-border {
    color:var(--accent-color)
}

/* Posts */
.post-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 80px;
}

.post {
    max-width: 100%;
    background-color: var(--primary-color);
    /* TO DO: delete height */
    height: 300px;
}

/* Pagination */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    width: 240px;
    padding: 4px 0;
    margin: 0 auto 16px;
    background-color: rgba(var(--primary-color-rgb), .5);
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    text-align: center;
}

/*  Footer */
.footer {
    position: fixed;
    z-index: 10;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    width: 100%;
}

.footer-bar {
    width: 100%;
    height: 16px;
    background-color: rgba(var(--primary-color-rgb), .5);
}

/*  Sims Info */
.sims-info {
    flex-shrink: 0;
    padding-left: 80px;
}

.sims-info::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(var(--primary-color-rgb), .5);
    width: 80px;
    height: 250px;
}

.sims-info-avatar {
    position: absolute;
    bottom: 27px;
}

.emotion {
    display: flex;
    width: 216px;
    height: 184px;
    border-radius: 0px 194px 0px 12px;
}

.emotion-confident {
    background: radial-gradient(150.5% 145.97% at 0% 100%, #418ACB 0%, rgba(65, 138, 203, 0.80) 36.56%, rgba(65, 138, 203, 0.60) 54.69%, rgba(37, 70, 99, 0.00) 65.63%); 
}

.emotion span {
    position: absolute;
    bottom: 16px;
    padding-top: 12px;
    color: var(--primary-color);
    font-family: 'Avenir LT Pro', sans-serif;                     
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
    transform: rotate(90deg);
    transform-origin:  0 0;
    /* Cross-browser text rotation*/
    -webkit-transform: rotate(-90deg); /* Safari */
    -moz-transform: rotate(-90deg); /* Firefox */
    -ms-transform: rotate(-90deg); /* IE */
    -o-transform: rotate(-90deg); /* Opera */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); /* Internet Explorer */ 
}


.info {
    overflow-y: hidden;
    display: flex;
    align-items: center;
    /* padding: 6px 12px; */
    /* background-color: rgba(var(--primary-color-rgb), .5); */
    border-top-right-radius: 20px;
}

.info span {
    height: 100%;
    background-color: rgba(var(--primary-color-rgb), .5);
}

.info > span:first-child {
    padding: 4px 12px;
    font-size: 40px;
}

.info > span:nth-child(2) {
    padding: 10px 16px 10px 12px;
    max-height: 40px;
    font-size:24px;
    font-weight: 300;
}

.info .border {
    border-right: 2px solid transparent;
    /* Cross-browser semi-transparent border */
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

/* .sims-info::after {
    content: "";
    position: absolute;
    bottom: 0;
    background-color: red;
    width: 80px;
    height: 250px;
} */