/********************************************
 *                VARIABLES                 *
 ********************************************/
:root {
    --primary-color: #ffffff;
    --primary-color-rgb: 255, 255, 255; /*	Prefix a color variable with RGB to convert the hex output to RGB. */
    --accent-color: #326294;
    --link-hover-color: #1a3149;
    --background-color: #E7F1FB;
    --menu-background-color: #F3F8FD;
    --custom-emotion-background-color: #e38515;
    --custom-emotion-background-color-rgb: 227, 133, 21;
}

/********************************************
 *               TYPOGRAPHY                 *
 ********************************************/
body {
    /* Theme Option: Text Color */
    color: var(--accent-color);
    font-family: 'Dongle', sans-serif;
    font-size: 28px;
    font-weight: 300;
    line-height: 0.8;
}

.font-fix-dongle {
    display: block;
    margin-bottom: -5px;
}

/********************************************
 *                  COMMON                  *
 ********************************************/
 
body {
    /* Theme Option: Background Color */
    background-color: var(--background-color);

    /*  Theme Option: Background Image */
    background: url(willow-creek-wallpaper.png) no-repeat center center fixed;
    background-size: cover;
}

.container {
    margin: 0 auto;
    /*  Theme Option: Post Width */
    max-width: 540px;
}

a:hover,
a:focus-visible {
    color: var(--link-hover-color);
}

/********************************************
 *                  THEME                   *
 ********************************************/

/* Header */
.header {
    position: fixed;
    z-index: 10;
    display: inline-flex;
    align-items: center;
    gap: 16px;
    padding: 4px 4px 4px 80px;
    background-color: var(--primary-color);
    border: 6px solid rgba(var(--primary-color-rgb), .5);
    border-left: none;
    border-radius: 100px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    /* Cross-browser compatibility: Semi-transparent Border */
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

.header-avatar {
    overflow: hidden;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    /* To delete */
    background-color: var(--accent-color);
}

/*  Menu (menu-button, navigation, hexagone) */
.menu {
    position: relative;
    display: flex;
    padding-left: 36px;
    padding-right: 70px;
    background-color: rgba(var(--primary-color-rgb), .5);
}

.menu-button i {
    position: absolute;
    left: -13px;
    bottom: 13px;
    color: var(--accent-color);
}

.navigation ul {
    display: flex;
    font-size: 20px;
}

.navigation a {
    display: inline-block;
    padding: 12px 10px 10px;
}

.hexagone {
    position: absolute;
    left: -28px;
    bottom: 0;
}

.hexagone-background {
    color: var(--menu-background-color);
}

.hexagone-border {
    color:var(--accent-color)
}

/* Posts */
.posts-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 80px 0;
}

.post {
    max-width: 100%;
    /* Theme Option: Solid Background Color for Posts */
    background-color: var(--primary-color);

    /* Theme Option: See-through Background Color for Posts */
    background-color: rgba(var(--primary-color-rgb), .5);
    height: 300px;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 16px;
    font-size: 24px;
    font-weight: 300;
}

.post-author {
    display: flex;
    align-items: center;
    gap: 16px;
}

.post-author div:first-child {
    width: 40px;
    height: 40px;
}

.post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    font-size: 20px;
    font-weight: 300;
}

.post-actions {
    display: flex;
    font-size: 16px;
}

.post-action {
    background-color: var(--primary-color);
    padding: 8px;
}

/* Hide default tumblr buttons */
.post-action .like_button,
.post-action .reblog_button {
    position: absolute;
    top: 0;
    left: 0; 
    bottom: 0;
    right: 0;
    z-index: 2;
    opacity: 0.000001;
}

.post-action iframe {
    width: 100% !important; height: 100% !important;
}

/* Pagination */
.pagination {
    position: fixed;
    bottom: 16px;
    left:0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    width: 240px;
    padding: 4px 0;
    margin: 0 auto;
    background-color: rgba(var(--primary-color-rgb), .5);
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    text-align: center;
}

/*  Live Mode Controls (footer) */
.live-mode-controls {
    position: fixed;
    z-index: 10;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    width: 100%;
}

.footer-bar {
    width: 100%;
    height: 16px;
    background-color: rgba(var(--primary-color-rgb), .5);
}

/*  Sim Panel */
.sim-panel {
    flex-shrink: 0;
    padding-left: 80px;
}

.sim-panel::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(var(--primary-color-rgb), .5);
    width: 80px;
    height: 250px;
}

.sim-panel::after {
    content: "";
    position: absolute;
    bottom: 35px;
    width: 12px;
    height: 12px;
    background-color: rgba(var(--primary-color-rgb), .5);
}

/* Sim Panel: Avatar */
.sim-panel-avatar {
    position: absolute;
    bottom: -8px;
}

/* Sim Panel: Emotion */
.sim-panel-emotion {
    position: absolute;
    bottom: 35px;
    z-index: 20;
    display: flex;
    width: 216px;
    height: 184px;
    border-radius: 0px 194px 0px 12px;
}

.emotion-custom {
    background: radial-gradient(150.5% 145.97% at 0% 100%, var(--custom-emotion-background-color) 0%, rgba(var(--custom-emotion-background-color-rgb), 0.80) 36.56%, rgba(var(--custom-emotion-background-color-rgb), 0.60) 54.69%, rgba(129, 126, 123, 0.00) 65.63%); 
}
.emotion-playful {
    background: radial-gradient(150.5% 145.97% at 0% 100%, #BB36AD 0%, rgba(187, 54, 173, 0.80) 36.56%, rgba(187, 54, 173, 0.60) 54.69%, rgba(87, 33, 81, 0.00) 65.63%); 
}
.emotion-happy {
    background: radial-gradient(150.5% 145.97% at 0% 100%, #1DB84D 0%, rgba(29, 184, 77, 0.80) 36.56%, rgba(29, 184, 77, 0.60) 54.69%, rgba(25, 113, 52, 0.00) 65.63%); 
}
.emotion-confident {
    background: radial-gradient(150.5% 145.97% at 0% 100%, #418ACB 0%, rgba(65, 138, 203, 0.80) 36.56%, rgba(65, 138, 203, 0.60) 54.69%, rgba(37, 70, 99, 0.00) 65.63%); 
}
.emotion-focused {
    background: radial-gradient(150.5% 145.97% at 0% 100%, #7035F0 0%, rgba(112, 53, 240, 0.80) 36.56%, rgba(112, 53, 240, 0.60) 54.69%, rgba(64, 42, 112, 0.00) 65.63%); 
}
.emotion-possessed {
    background: radial-gradient(150.5% 145.97% at 0% 100%, #3B3C63 0%, rgba(59, 60, 99, 0.80) 36.56%, rgba(59, 60, 99, 0.60) 54.69%, rgba(46, 47, 75, 0.00) 65.63%); 
}
.emotion-energized {
    background: radial-gradient(150.5% 145.97% at 0% 100%, #A0DD29 0%, rgba(160, 221, 41, 0.80) 36.56%, rgba(160, 221, 41, 0.60) 54.69%, rgba(108, 144, 36, 0.00) 65.63%); 
}
.emotion-inspired {
    background: radial-gradient(150.5% 145.97% at 0% 100%, #1EC5CD 0%, rgba(30, 197, 205, 0.80) 36.56%, rgba(30, 197, 205, 0.60) 54.69%, rgba(37, 107, 111, 0.00) 65.63%); 
}
.emotion-dazed {
    background: radial-gradient(150.5% 145.97% at 0% 100%, #826FD3 0%, rgba(130, 111, 211, 0.80) 36.56%, rgba(130, 111, 211, 0.60) 54.69%, rgba(65, 54, 112, 0.00) 65.63%); 
}
.emotion-asleep {
    background: radial-gradient(150.5% 145.97% at 0% 100%, #353359 0%, rgba(53, 51, 89, 0.80) 36.56%, rgba(53, 51, 89, 0.60) 54.69%, rgba(48, 46, 77, 0.00) 65.63%); 
}
.emotion-bored {
    background: radial-gradient(150.5% 145.97% at 0% 100%, #7D8884 0%, rgba(125, 136, 132, 0.80) 36.56%, rgba(125, 136, 132, 0.60) 54.69%, rgba(56, 63, 60, 0.00) 65.63%); 
}

.sim-panel-emotion span {
    position: absolute;
    bottom: -24px;
    padding-top: 12px;
    color: var(--primary-color);
    font-family: 'Avenir LT Pro', sans-serif;                     
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
    transform: rotate(90deg);
    transform-origin:  0 0;
    /* Cross-browser text rotation*/
    -webkit-transform: rotate(-90deg); /* Safari */
    -moz-transform: rotate(-90deg); /* Firefox */
    -ms-transform: rotate(-90deg); /* IE */
    -o-transform: rotate(-90deg); /* Opera */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); /* Internet Explorer */ 
}


/* Sim Info */
.sim-panel-info {
    overflow-y: hidden;
    display: flex;
    align-items: center;
    border-top-right-radius: 20px;
}

.sim-panel-info span {
    height: 100%;
    background-color: rgba(var(--primary-color-rgb), .5);
}

.sim-panel-info > span:first-child {
    padding: 4px 12px;
    font-size: 40px;
}

.sim-panel-info > span:nth-child(2) {
    padding: 10px 16px 10px 12px;
    max-height: 40px;
    font-size:24px;
    font-weight: 300;
}

.sim-panel-info .border {
    border-right: 2px solid transparent;
    /* Cross-browser compatibility: Semi-transparent border */
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}